@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальные переменные и стили */
:root {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Убираем отступы, делаем full-height и задаем мобильную адаптацию */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  color: #111827;
  @apply flex flex-col;
}

/* Ссылки */
a {
  color: theme('colors.blue.600');
  text-decoration: none;
}
a:hover {
  color: theme('colors.blue.800');
}
